@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

    &::-webkit-scrollbar {
        display: none;
    }
}

a, h2 {
    color: white;
}

a {
    text-decoration: none;
}

.header {
    height: 100px;
    background-color: rgba(16, 16, 16);
    display: flex;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-between;
    > img {  
        height: 100%;
        cursor: pointer;
    }
    > div {
        width: 100%;
        margin-left: 4vmax;
        > a {
            margin: 2vmax;
            font-size: 1.3rem;
            font-weight: 300;
        }
    }
    > svg {
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        margin-right: 2rem;

        &:hover {
            color: rgb(216, 216, 216);
        }
    }
}